<h1 class="text-center mt-4">Department Details</h1>
<div class="container text-white text-center">
  <div class="jumbotron">
    <p>Department Name: <%= @department.department %></p> 
    <p>Comment: <%= @department.comment %></p>
    <p>
      <% if is_authorized? %>
        <%= link_to "Edit", edit_department_path(id: @department.id), class: "btn btn-info" %> 
        <%= link_to "Delete", department_path(id: @department.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
    </p>
  </div>
</div>