<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">About me</h1>
    <p class="lead">I am an aspiring Software developer who wants to bring positive change in this world through programming.</p>
  </div>
</div>