<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Asset Manager</h1>
    <p class="lead">Asset Manager is a simple tool which helps keep track of end user assets such as laptop, desktop etc. </p>
    <hr class="my-4">
    <p>It is developed using Ruby on rails with mysql as db server.</p>
    <p class="lead">
      <%= link_to "Sign up", signup_path, class:"btn btn-success btn-lg" %>
    </p>
  </div>
</div>